@mixin centerOnPage {
  margin-left: auto;
  margin-right: auto;
}

@mixin contentWrap {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 10px;
}

$navHeight: 125px;

body {
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6, p, a, .radioMod {
  font-family: 'PT Serif', serif;
}

.section-tag {
  font-family: 'Roboto Mono', monospace;
}

.navbackground {
  background-color: #fff;
  position: fixed;
  top: 0px;
  border-bottom: 2px solid #eee;
  // overflow: hidden;
  width: 100%;
  height: $navHeight;
  padding-top: 1%;
}


.navbar {
  display: flex;
  flex-direction: column;
}
.nav-row {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 50%;
  align-items: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 5%;
  img {
    display: block;
    height: 100%;
  }
}

.secondNav {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding-right: 15px;
  align-items: baseline;
  font-size: 12px;
}

.radioMod {
  height: 100%;
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  background-color: #f5f5f5;
  margin-right: 5%;
  font-size: 14px;
  width: 290px;
  .radio-icon {
      padding-bottom: 2%;
    color: #2C63ae;
    i {
      font-size: 24px;
    }
  }
  &:hover i {
      opacity: 0.6;
  }
}

.menu-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-left: 5%;
  li {
    list-style: none;
    font-size: 20px;
    color: #2C63ae;
  }
  li:hover {
    opacity: 0.6;
  }
}

.main-body {
  margin-top: $navHeight;
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
  background-color: #e0e0e0;
}

.fa-search {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

.hero {
  @include contentWrap;
  flex-direction: column;
}

.beforeLinkWrapper {
  display: flex;
  justify-content: space-between;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .section-tag {
    margin-bottom: 0;
    color: #767676;
  }
  .headline h2 {
    margin-top: 6px;
    font-size: 32px;
    margin-bottom: 0px;
  }
  .summary p {
    margin-top: 6px;
  }
}
.content {
  width: 70%;
  max-width: 950px;
  @include centerOnPage;
}

.highlights {
  @include contentWrap;
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.radio-ad {
    @include contentWrap;
    flex-direction: column;
    border-top: 5px solid #2C63ae;
}

.headlines {
  text-align: center;
}

.radio-options {
  display: flex;
  justify-content: space-around;
}

.hero-image {
  width: 435px;
  text-align: right;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}
.blurb {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-right: 4px;
  margin-left: 4px;
}

.blurb-photo {
  img {
    display: block;
    width: 100%;
  }
}


.radio-options {
  text-align: center;
  img {
    @include centerOnPage;
    display: block;
    width: 100%;
  }
}

.radio-option1 {
  width: 200px;
}


@media screen and (max-width: 1400px) {
  .blurb-photo {
    // width: 98%;
  }
}

@media screen and (max-width: 895px) {
  .highlights {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .blurb {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 5px;
    @include centerOnPage;
    img {
      max-width: 175px;
    }
  }
}

@media screen and (max-width: 1230px) {
  .menu-row {
    display: none;
  }
  .nav-row {
    height: 100%;
  }
  .navbackground {
    height: $navHeight / 2;
  }
  .main-body {
    margin-top: $navHeight / 2;
  }
  .logo {
    height: 45px;
  }
}

@media screen and (max-width: 1090px) {
  .setStation, .login, .nprText {
    display: none;
  }
  .secondNav {
    justify-content: flex-end;
  }
  .secondNav div {
    padding-right: 8px;
  }
}
